[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20.19.0"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_BASE_URL = "https://hr-backened-dhanush.vercel.app"

[context.deploy-preview.environment]
  VITE_API_BASE_URL = "https://hr-backened-dhanush.vercel.app"

[context.branch-deploy.environment]
  VITE_API_BASE_URL = "https://hr-backened-dhanush.vercel.app"